// Custom variables
@import "scss/variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Custom styles
@import "scss/global";
@import "scss/navbar";
@import "scss/card";
@import "scss/dropdown";